.container{
	margin: auto;
  	width: 80%;
	padding: 10px;
	display: flex;
	justify-content: center;
	}

label{
	display:block-inline;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	margin-inline: 6px;
	}
.btn{
	float: right;
	}
textarea{
	width: 250px;
	height: 120px;
	}