.container{
	margin: auto;
  	width: 80%;
	padding: 10px;
	display: flex;
	justify-content: center;
	}
.form{
	background-color: rgb(255,255,245);
	padding: 10px;
	border: 1px solid;
	box-shadow: 15px 15px 7px grey;
	margin: 30px;	
	line-height: 200%;
	}
.row2{
	padding-left: 100px;
	}
label{
	display:block-inline;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	margin-inline: 6px;
	}
.btn{
	float: right;
	}
textarea{
	width: 250px;
	height: 120px;
	}