.hidden{
    display: none;
}
.container2{
    margin: -10px auto;
    background-color:#C2B9B0;
    width: 100%;
}
#main{
    margin: -25px auto 20px auto;
    text-align: center;
    padding-bottom: 10px;
}
#TittleOfReservation{
    padding: 0;
    margin: 0;
}
button{
    padding:5px 10px;
    color:  #e7717d;
    border: 1px solid  #e7717d;
    transition: 0.5s background-color;
    margin:20px auto 20px auto;
}
button:hover{
    cursor: pointer;
    background-color:  #e7717d;
    color:white;
}
button:disabled:hover{
    opacity: 0.5;
    cursor: not-allowed;
}
.text-center{
    text-align: center;
}

#stepProgressBar{
    display: flex;
    width: 300px;
    margin:-20px auto;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: flex-end;
}
.step{
    text-align: center;
}
.step-text{
    margin-bottom: 10px;
    color:   #e7717d;
}
.bullet{
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid #e7717d;
    width: 35px;
    height: 30px;
    color: #e7717d;
    display: inline-block;
    position: relative;
    transition: background-color 500ms;
    line-height: 30px;

}
.bullet.completed{
    color:white;
    background-color: #e7717d;

}
.bullet.completed::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 86px;
    background-color:   #e7717d;
    right: -89px;
    bottom: 10px;
}
#personalForm{
    margin: 0px auto;
    width: 70%;
}
#personalBtn{
    
}
#inputPersonalInfo{
    background-color: #afd275;
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    margin-bottom: 10px;
    border: solid #afd275;
    border-radius: 20px;
}
.print {
	display:none
}
 @media print {
	.print {display:block}
	#printBtn {display:none;}
    body * {
        visibility: hidden;
      }
      #inputPersonalInfo * {
        visibility: visible;
      }
      #inputPersonalInfo {
        position: absolute;
        left: 0;
        top: 0;
      }
}