
body{
    background-color: #C2CAD0;
    font-family: 'Poppins','Times New Roman', Times, serif;
}


/* Navigation bar */

nav {   
    background-color:  #7E655A;
    z-index: 2;
}

.mynav{
    background-color: #7E655A;
}

.navbar{
    background-color: transparent !important;
}

.nav-link{
    color: #ffffff !important;
}
.nav-link:hover{
    color:#afd275 !important;   
}
.navbar-brand img{      
    height : 80px ;
    width : auto;
}

/* Buttons */

.btn-outline-success {
    background-color: #E7717D;
    color: #ffffff;
    border-color: #E7717D;
}
.btn-outline-success:hover{
    background-color: #ffffff;
    color: #E7717D;
    border-color: #E7717D;
}

.accordion__button{
    background-color: #E7717D;
    border: none;
    color: #ffffff;
    width: 100%;
    padding: 15px;
    transition: backgroung 0.2s;
}
.accordion__button::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);

}
.accordion__button:hover{
    background-color: #ffffff;
    border-color:#E7717D;
    color: #E7717D;
}
.accordion__button--active{
    background-color: #ffffff;
    color: #E7717D;
    border-color:#E7717D;
}
.accordion__button--active::after{
    content:'\25b4';
}
.accordian__content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;

    padding: 0px 10PX;
    margin: 0px auto;
}

/* Footer */

footer {
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #7E655A;
    color: #C4C4C4;
    text-align: left;
    left: 0;
}